@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this web app to keep track of your fitness and activities to help you to reaching your lifestyle goal
    </p>
