@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIA Fitness</h1>
    <h2>Your favorite fitness tracker</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <button>@Html.ActionLink("Sign Up", "SignUp", "Users")</button>
        <button>@Html.ActionLink("Log In", "GoToLogin", "Users")</button>
    </div>
    <div class="col-md-4">
           </div>
    <div class="col-md-4">
          </div>
</div>